{{!< default}}
<div id="about-me">

    <!-- Who am I -->
    <div class="section white">
        <div class="row container">
            <div class="col">
				<div>
					<img src="images/logo-navbar.png" class="logo-title">
					<h4 class="header">About Me</h4>
				</div>
                <div class="card horizontal hoverable">
                    <div class="card-image hide-on-small-only">
                        <div id="me"></div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
							<span class="card-title">Ruy R. Garcia</span>
							<h5>Software Engineer</h5>
                            <blockquote>
                                I’m a passionate about technology who is always looking for new tools and skills in
                                order to be able to achieve and do more everyday. I firmly believe in research, design,
                                structure and plan every project in order to meet its requirements and achieve its
                                goals.
								<br>
								<br>
                                I have solid experience on Web development with JavaScript technologies such as Node.js,
                                AngularJS, Ionic Framework and Angular2 as well as other related Web technologies like
                                PHP. I also have experience with Web Services and REST API (SaaS architectures) design
                                and development as well as with IoT prototype projects using Arduino and ESP8266 boards.
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Qualifications -->
    <div class="section white">
        <div class="row container">
            <div class="col">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Main Qualifications</span>
						<h5>Node.js</h5>
                        <blockquote>
                            Three years of experience in REST API Web applications (using expressJS, MongoDB,
                            MySQL) and building plugins for hybrid mobile applications.
                        </blockquote>
						<h5>AngularJS</h5>
                        <blockquote>
                            Three years of experience in projects such as Web and mobile applications. I also
                            have experience with particular Angular Material Design plugin for AngularJS in enterprise
                            Web applications as with Angular2.
                        </blockquote>
						<h5>Ionic Framework</h5>
                        <blockquote>
                            Two years of experience developing enterprise and hardware control
                            applications for iOS and Android using JavaScript with AngularJS.
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</div>
