{{!< default}}
<div id="about-me">

    <!-- Who am I -->
    <div class="section white">
        <div class="row container">
            <div class="col">
                <div>
                    <img src="images/logo-navbar.png" class="logo-title">
                    <h4 class="header">About Me</h4>
                </div>
                <div class="card horizontal hoverable">
                    <div class="card-image hide-on-small-only">
                        <div id="me"></div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">Ruy R. Garcia</span>
                            <h5>Software Engineer</h5>
                            <blockquote>
                                I’m a passionate about technology who is always looking for new tools and skills in
                                order to be able to achieve and do more everyday. I firmly believe in research, design,
                                structure and plan every project in order to meet its requirements and achieve its
                                goals.
                                <br>
                                <br>
                                I have solid experience on Web development with JavaScript technologies such as Node.js,
                                AngularJS, Ionic Framework and Angular2 as well as other related Web technologies like
                                PHP. I also have experience with Web Services and REST API (SaaS architectures) design
                                and development as well as with IoT prototype projects using Arduino and ESP8266 boards.
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Technical Stack -->
    <div class="section white">
        <div class="row container">
            <div class="col s12">
                <div>
                    <img src="images/logo-navbar.png" class="logo-title">
                    <h4 class="header">Main Technical Stack</h4>
                </div>

                <div class="card horizontal hoverable">
                    <div class="card-image hide-on-small-only">
                        <img src="images/icon-node.png" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">Node.js</span>
                            <blockquote>3+ years of experience in REST API Web applications (using expressJS, MongoDB,
                                MySQL) and building plugins for hybrid mobile applications.
                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row container">
            <div class="col s12">

                <div class="card horizontal hoverable">
                    <div class="card-image hide-on-small-only">
                        <img src="images/icon-angular.jpg" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">Angular</span>
                            <blockquote>3+ years of experience in projects such as Web and mobile applications. I also
                                have experience with particular Angular Material Design plugin for AngularJS in
                                enterprise Web applications as with Angular2.
                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row container">
            <div class="col s12">

                <div class="card horizontal hoverable">
                    <div class="card-image hide-on-small-only">
                        <img src="images/icon-ionic.png" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">Ionic Framework</span>
                            <blockquote>2+ years of experience developing enterprise and hardware control applications
                                for iOS and Android using JavaScript with AngularJS.
                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Experience -->
    <div class="section white">
        <div class="row container">
            <div>
                <img src="images/logo-navbar.png" class="logo-title">
                <h4 class="header">Experience</h4>
            </div>
            <div class="col">

                <!--  Ksquare -->
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Ksquare Solutions</span>
                        <h5> Software Engineer - Technical Project Manager</h5>
                        <h6>MAY 2016 - PRESENT, IRVING, TX</h6>
                        <blockquote>
                            During my time in Ksquare as Technical Project Manager I have been introducing professional
                            work methodologies in the company like Agile and Scrum as well as development practices such
                            as Continuous Integration and management tools like JIRA in order to help to achieve a
                            better organization and management inside the company.
                        </blockquote>
                        <br>
                        <h6>Projects:</h6>
                        <h5>AcademyPlex</h5>
                        <p>
                            Participating as Software Engineer and Technical Project Manager in a REST API platform
                            project for enterprise application to manage diverse sports academies and facilities.
                        </p>
                        <br>
                        <p>
                            Related technologies: MongoDB, MySQL, AngularJS, Angular Material, SASS, Express.js,
                            Node.js, Travis CI, AWS.
                        </p>
                        <h5>IoT Deloitte</h5>
                        <p>
                            Participating as Technical Project Manager and DevOps of a CMS project implemented on MEAN
                            stack.
                        </p>
                        <br>
                        <p>
                            Related technologies: Node.js Express.js, AngularJS, MongoDB, Heroku.
                        </p>
                    </div>
                </div>

                <!-- Unosquare -->
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Unosquare</span>
                        <h5>Software Engineer</h5>
                        <h6>JAN 2015 - MAY 2016, GUADALAJARA, MEXICO</h6>
                        <br>
                        <h6>Projects:</h6>
                        <h5>Ritty</h5>
                        <p>
                            Participating as consultant and software engineer in development of Web enterprise
                            application based on Node.js with expressJS and AngularJS as a Single Page Application with
                            Angular Material Design to fit Google’s Material Design guidelines. In this project,
                            backend’s business logic is served as RESTful API for Software As A Service architecture.
                        </p>
                        <br>
                        <p>Related technologies: JavaScript, AngularJS, Angular Material Design, Node.js, Express.js,
                            mocha.js, MySQL, Stylus, Grunt, Bower, npm.
                        </p>
                        <h5>Mantis UI</h5>
                        <p>
                            Participating as software engineer in enterprise application to manage genomics analyses.
                            Initially the application was based in a legacy code using raw PHP and Zend Framework and
                            some extensions and improvements were required. A major refactor work was required, so the
                            final decision was to use a Single Page Application with a REST API backend performing a
                            strategy for progressive refactor using AngularJS and NodeJS. Lately, a project aiming to
                            develop a completely new version from scratch was proposed and accepted. This new brand
                            version is currently being developed using Angular 2 as framework with TypeScript to meet
                            business logic requirements. 
                        </p>
                        <br>
                        <p>
                            Related technologies: Angular2, AngularJS, Node.js, ES6, PHP, Zend Framework, jQuery UI,
                            RabbitMQ.
                        </p>
                        <h5>Vivint Skydome simulator</h5>
                        <p>
                            Participating as software engineer in development of mobile application simulator of
                            domotics/surveillance panel (for Android and iOS). The application has been developed as a
                            simulator/demo to introduce new customers with the real device UI and functionalities.
                        </p>
                        <br>
                        <p>
                            Related technologies: Apache Cordova, JavaScript, jQuery UI, Android/iOS SDK.
                        </p>
                    </div>
                </div>

                <!-- Tiempo Development -->
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Tiempo Development</span>
                        <h5>Software Engineer III</h5>
                        <h6>JAN 2014 - JAN 2015, GUADALAJARA, MEXICO</h6>
                        <br>
                        <h6>Projects:</h6>
                        <h5>WebPT</h5>
                        <p>
                            Participated as full stack software engineer in a team dedicated in the implementation and
                            maintenance of new modules for a EMR Web platform working with Scrum methodology.
                        </p>
                        <br>
                        <p>
                            Related technologies: PHP, Zend Framework, jQuery, AngularJS, ExtJS, MySQL, Vagrant
                        </p>
                    </div>
                </div>

                <!-- Distribuidora GC -->
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Distribuidora GC</span>
                        <h5>PHP Web Developer</h5>
                        <h6>OCT 2012 - JAN 2014, CHIHUAHUA, MEXICO</h6>
                        <blockquote>
                            Participated as Web developer for an e-commerce based ERP system using technologies like
                            jQuery (UI, mobile), Apache Cordova and PHP and integrating the system with hardware
                            components as well like barcode scanners and thermal printers.
                        </blockquote>
                    </div>
                </div>

                <!-- Freelance -->
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Freelance Projects</span>
                        <br>
                        <h6>Projects:</h6>
                        <h5>GC Orders</h5>
                        <p>
                            Platform and mobile application that enables sales department to easily capture and
                            centralize orders from customers through a REST API platform.
                        </p>
                        <br>
                        <p>
                            Related technologies: Node.js, express.js, Ionic Framework, AngularJS, Heroku.
                        </p>
                        <h5>Jupiter API</h5>
                        <p>
                            REST API platform to serve multiple mobile and hardware clients to be integrated as an
                            enterprise ERP system.
                        </p>
                        <br>
                        <p>
                            Related technologies: Apache Cordova, Ionic Framework, AngularJS, Node.js, Arduino
                        </p>
                        <h5>Cosmos IoT Prototype</h5>
                        <p>
                            IoT end-to-end system for home/office automation, supervision and data acquisition of
                            devices such as HVAC controls, lights and access control using MQTT protocol, Web/Mobile
                            applications as integrating layer.
                        </p>
                        <br>
                        <p>
                            Related technologies: Node.js, Ionic Framework, Bluetooth, Raspberry Pi, Arduino.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Education -->
    <div class="section white">
        <div class="row container">
            <div class="col s12">
                <div>
                    <img src="images/logo-navbar.png" class="logo-title">
                    <h4 class="header">Education</h4>
                </div>
				
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Universidad Autónoma de Chihuahua</span>
                        <h5>Master of Computer Systems Engineering</h5>
						<h6>MAY 2011 - MAY 2014,  CHIHUAHUA, MEXICO</h6>
                    </div>
                </div>
				
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Instituto Tecnologico de Chihuahua II</span>
                        <h5>Bachelor in Architecture</h5>
						<h6>AUG 2003 - MAY 2008,  CHIHUAHUA, MEXICO</h6>
                    </div>
                </div>
				
            </div>
        </div>
    </div>

</div>
