{{!< default}}
<div id="index">
    <div class="carousel carousel-slider center" data-indicators="true">
        <video autoplay="" loop="" muted="">
            <source src="http://touchtitans.com/wp-content/uploads/2014/11/video-background.mp4" type="video/mp4">
            <source src="http://touchtitans.com/wp-content/uploads/2014/11/video-background.webm" type="video/webm">
            <source src="http://touchtitans.com/wp-content/uploads/2014/11/video-background.ogv" type="video/ogg">
        </video>
        <!--<div class="carousel-item teal white-text" href="#one!">-->
			<!--<figure>-->
                <!--<img src="image" alt="">-->
				<!--<h2>First Panel</h2>-->
				<!--<p class="white-text">This is your first panel</p>-->
			<!--</figure>-->
        <!--</div>-->
        <div class="carousel-item white-text" href="#two!">
            <h1>{{ whatIDo }}</h1>
        </div>
        <div class="carousel-item white-text" href="#three!">
            <h1>A software developer begins a project by coding,
                but a software engineer begins a project by designing.</h1>
        </div>
        <div class="carousel-item white-text" href="#four!">
            <h2>Fourth Panel</h2>
            <p class="white-text">This is your fourth panel</p>
        </div>
    </div>

    <!-- Who am I -->
    <div class="section white">
        <div class="row container">
            <div class="col s12">
                <h4 class="header">Who Am I</h4>
            </div>
            <div class="col s10">
                <div class="card">
                    <div class="card-content">
                        <p>
                            I’m a passionate about technology who is always looking for new tools and skills in order to be able to achieve and do more everyday. I firmly believe in research, design, structure and plan every project in order to meet its requirements and achieve its goals.
						</p>
                        <br>
						<p>
                            I have solid experience on Web development with JavaScript technologies such as Node.js, AngularJS, Ionic Framework and Angular2 as well as other related Web technologies like PHP. I also have experience with Web Services and REST API (SaaS architectures) design and development as well as with IoT prototype projects using Arduino and ESP8266 boards.
						</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Stalking cat -->
    <div class="parallax-container">
        <div class="parallax"><img src="/images/cats/01.jpg"></div>
    </div>

    <!-- What I Do -->
    <div class="section white">
        <div class="row container">
            <div class="col s12">
                <h4>What I Do</h4>
            </div>
			{{# each whatIDo}}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="images/{{ image }}">
                        <span class="card-title">{{ title }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ description }}</p>
                    </div>
                </div>
            </div>
			{{/each}}
        </div>
    </div>

    <!-- Stalking cat -->
    <div class="parallax-container">
        <div class="parallax"><img src="/images/cats/02.jpg"></div>
    </div>

    <!-- Projects -->
    <div class="section white board">
        <div class="row">
            <div class="col s12">
                <h4>Projects</h4>
            </div>

            <!-- Backlog -->
            <div class="col s12 m4">
                <div class="card blue-grey lighten-3">
                    <span class="card-title white-text">BACKLOG</span>
                    <div class="card-content">

                        <div class="card">
                            <span class="card-title">Jupiter API</span>
                            <div class="card-content">
                                <blockquote>REST API platform to serve multiple mobile and hardware clients to be
                                    integrated as an enterprise ERP system.
                                </blockquote>
                                <p>Related technologies: Node.js, express.js, Ionic Framework, AngularJS, Arduino</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- In Progress -->
            <div class="col s12 m4">
                <div class="card">
                    <span class="card-title">IN PROGRESS</span>
                    <div class="card-content">
                        <div class="card">
                            <span class="card-title">Jupiter API</span>
                            <div class="card-content">
                                <blockquote>REST API platform to serve multiple mobile and hardware clients to be
                                    integrated as an enterprise ERP system.
                                </blockquote>
                                <p>Related technologies: Node.js, express.js, Ionic Framework, AngularJS, Arduino</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Done -->
            <div class="col s12 m4">
                <div class="card">
                    <span class="card-title">DONE</span>
                    <div class="card-content">
                        <div class="card">
                            <span class="card-title">Jupiter API</span>
                            <div class="card-content">
                                <blockquote>REST API platform to serve multiple mobile and hardware clients to be
                                    integrated as an enterprise ERP system.
                                </blockquote>
                                <p>Related technologies: Node.js, express.js, Ionic Framework, AngularJS, Arduino</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Stalking cat -->
    <div class="parallax-container">
        <div class="parallax"><img src="/images/cats/03.jpg"></div>
    </div>

    <!-- Contact form -->
    <div class="section white board">
        <div class="row container">
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image hide-on-small-only">
						<div id="form-image"></div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <div class="card-title">
                                <h5 class="header">Let's Talk About Your Next Project!</h5>
                            </div>
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="name" type="text" class="validate">
                                            <label for="name">Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="company" type="text" class="validate">
                                            <label for="company">Company</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="email" type="email" class="validate">
                                            <label for="email">Email</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="phone" type="tel" class="validate">
                                            <label for="phone">Phone</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="subject" type="email" class="validate">
                                            <label for="subject">Subject</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="message" class="materialize-textarea"></textarea>
                                            <label for="message">Message</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
