{{!< default}}
<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item teal white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div>

<!-- Stalking cat -->
<div class="parallax-container">
    <div class="parallax"><img src="/images/cats/01.jpg"></div>
</div>

<!-- Who am I -->
<div class="section white">
    <div class="row container">
		<div class="col s12">
			<h4 class="header">Who Am I</h4>
		</div>
		<div class="col s10">
			<div class="card">
				<div class="card-content">
					<p>As a passionate of technology that loves to do more everyday, I have years of experience on Web development with JavaScript technologies (such as Node.js, AngularJS, Ionic Framework and Angular2) and PHP. I also have experience with Web Services and REST API (SaaS architectures) design and development.
                    </p>
				</div>
			</div>
		</div>
    </div>
</div>

<!-- Stalking cat -->
<div class="parallax-container">
    <div class="parallax"><img src="/images/cats/02.jpg"></div>
</div>

<!-- What I Do -->
<div class="section white">
    <div class="row">
        <div class="col s12">
            <h4>What I Do</h4>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="images/cats/01.jpg">
                    <!--<span class="card-title">Card Title</span>-->
                </div>
                <div class="card-content">
                <span class="card-title">Card Title</span>
                    <p>ds</p>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="images/cats/01.jpg">
                    <!--<span class="card-title">Card Title</span>-->
                </div>
                <div class="card-content">
                	<span class="card-title">Card Title</span>
                    <p>ds</p>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="images/cats/01.jpg">
                    <!--<span class="card-title">Card Title</span>-->
                </div>
                <div class="card-content">
                	<span class="card-title">Card Title</span>
                    <p>ds</p>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="images/cats/01.jpg">
                    <!--<span class="card-title">Card Title</span>-->
                </div>
                <div class="card-content">
                	<span class="card-title">Card Title</span>
                    <p>ds</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Stalking cat -->
<div class="parallax-container">
    <div class="parallax"><img src="/images/cats/03.jpg"></div>
</div>

<!-- Projects -->
<div class="section white board">
    <div class="row">
        <div class="col s12">
            <h4>Projects</h4>
        </div>
		
        <!-- Backlog -->
		<div class="col s12 m4">
            <div class="card blue-grey lighten-3">
                <span class="card-title white-text">BACKLOG</span>
                <div class="card-content">
					
                    <div class="card">
                        <span class="card-title">Jupiter API</span>
                        <div class="card-content">
                            <blockquote>REST API platform to serve multiple mobile and hardware clients to be integrated as an enterprise ERP system.</blockquote>
							<p>Related technologies: Node.js, express.js, Ionic Framework, AngularJS, Arduino</p>
                        </div>
                    </div>
					
                </div>
            </div>
        </div>
		
        <!-- In Progress -->
		<div class="col s12 m4">
            <div class="card">
                <span class="card-title">IN PROGRESS</span>
                <div class="card-content">
                    <div class="card">
                        <span class="card-title">Jupiter API</span>
                        <div class="card-content">
                            <blockquote>REST API platform to serve multiple mobile and hardware clients to be integrated as an enterprise ERP system.</blockquote>
							<p>Related technologies: Node.js, express.js, Ionic Framework, AngularJS, Arduino</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
        <!-- Done -->
		<div class="col s12 m4">
            <div class="card">
                <span class="card-title">DONE</span>
                <div class="card-content">
                    <div class="card">
                        <span class="card-title">Jupiter API</span>
                        <div class="card-content">
                            <blockquote>REST API platform to serve multiple mobile and hardware clients to be integrated as an enterprise ERP system.</blockquote>
							<p>Related technologies: Node.js, express.js, Ionic Framework, AngularJS, Arduino</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
    </div>
</div>

<!-- Stalking cat -->
<div class="parallax-container">
    <div class="parallax"><img src="/images/cats/04.jpg"></div>
</div>

<!-- Contact form -->
<div class="section white board">
    <div class="row container">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image hide-on-small-only">
                    <img src="/images/cats/04.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
						<div class="card-title">
							<h5 class="header">Let's Talk About Your Next Project!</h5>
						</div>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="name" type="text" class="validate">
                                        <label for="name">Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="company" type="text" class="validate">
                                        <label for="company">Company</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="phone" type="tel" class="validate">
                                        <label for="phone">Phone</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="subject" type="email" class="validate">
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="message" class="materialize-textarea"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
