#index {
  
  .carousel-slider {
	height: 650px;
	background-image: url("../../images/carrousel/bkgr-gray.jpg");
	background-size: cover;
	background-position: center;
	
	.carousel-item {
	  h1 {
		font-size: 3em;
	  }
	}
	
  }

  .card-content{
	&.description {
	  p {
		margin-bottom: 1em;
	  }
	}
  }
  
  .logo-title {
	height: 2em;
	float: left;
	margin-right: 5px;
  }
  
  #me {
	background-image: url("../../images/me.jpg");
	background-position: top right;
	background-repeat: no-repeat;
	height: 100%;
	width: 200px;
  }

  .parallax-container {
	height: 250px;
  }

  p,
  blockquote {
	text-align: justify;
  }

  #contact {
	.card.horizontal {
	  .card-image {
		width: 50%;
		#form-image {
		  background-image: url("../../images/cats/box.jpg");
		  background-size: cover;
		  background-position: center;
		  height: 100%;
		}
	  }
	}
  }
  
  @media screen and (min-width: 992px){
	#board {
	  padding-left: 5em;
	  padding-right: 5em;
	}
  }

  form {
	.row {
	  margin-bottom: 0;
	}
  }
  
}
