#index {
  
  div.section {
  	background-image: url('../../images/cats-bkgr.jpg');
  }

  .carousel-slider {
	height: 650px;
	background-image: url("../../images/carrousel/01.jpg");
	background-size: cover;
	background-position: center;
  }
  
  #me {
	background-image: url("../../images/me.jpg");
	background-position: top right;
	background-repeat: no-repeat;
	height: 100%;
	width: 200px;
  }

  .parallax-container {
	height: 250px;
  }

  p,
  blockquote {
	text-align: justify;
  }

  #contact {
	.card.horizontal {
	  .card-image {
		width: 50%;
		#form-image {
		  background-image: url("../../images/cats/box.jpg");
		  background-size: cover;
		  background-position: center;
		  height: 100%;
		}
	  }
	}
  }

  form {
	.row {
	  margin-bottom: 0;
	}
  }

}
