#index {
  
  .carousel-slider {
	height: 650px;
	background-image: url("../../images/carrousel/01.jpg");
	background-size: cover;
	background-position: center;
  }
  
  .board {
	.card-title {
	  margin-left: 1em;
	}
  }
  
  p {
	text-align: justify;
  }
  
  .card.horizontal {
	.card-image {
	  width: 50%;
	  #form-image {
		background-image: url("../../images/cats/box.jpg");
		background-size: cover;
		background-position: center;
		height: 100%;
	  }
	}
  }
  
  form {
	.row {
	  margin-bottom: 0;
	}
  }
  
}
